{% extends 'main/index.html' %}

{% block title %}
<title>{{ contents.title }} | ИнТЭК-Сервис</title>
<meta name="title" content="{{ contents.title }} | ИнТЕК-Сервис">
{% endblock %}

{% block description %}
{{ contents.description }}
{% endblock %}

{% block keywords %}
{{ contents.keywords }}
{% endblock %}

{% block content %}
    {% load staticfiles %}
      <div id="page" class="container">
          <div class="otsteup col-xs-12">
			<address>
			  <strong>Адрес:</strong><br>
			  {{ contents.address|safe }}<br>
			  <abbr title="Телефон">Т:</abbr> {{ contents.phone }}<br>
			  {% if contents.phone2 %}<abbr title="Телефон">Т:</abbr> {{ contents.phone2 }}<br>{% endif %}
			  {% if contents.phone3 %}<abbr title="Телефон">Т:</abbr> {{ contents.phone3 }}{% endif %}
			</address>
			<address>
			  <strong>Электронная почта:</strong><br>
			  <a id="contact_email" href="mailto:#">{{ contents.email }}</a>
			</address>
          </div>
      </div>
{% endblock %}